table {
  &.row {
    width: 576px;
    margin: 0 auto;
  }

  &.body {
    center {
      width: 720px !important;
      margin: 0 auto;
    }
  }
}

.f-w {
  display: block;
  width: inherit;  /* Make images fill their parent's space. Solves IE8. */
  max-width: auto; /* Add !important if needed. */
  height: auto;
}
