.header {
  background: white;
  width: 720px !important;
  margin-left: auto !important;
  margin-right: auto !important;

  .wrapper-inner {
    padding: 0;
  }

  img {
    width: 155px;
    height: 49px;
  }

  .t-r {
    table {
      &:not(&.spacer){
        width: auto !important;
      }
    }
  }

  .navigate {
    margin-top:13px;
    margin-right: 12px;
    margin-bottom: 0;
    padding: 0;
    color:#A3AAB1;
    font-size:12px;
    line-height:16px;
    text-align: right;
  }

  th {
    &.last {
      vertical-align: bottom;
    }

    th {
      margin-bottom: 25px;
      margin-top: 0;
    }
  }

  .container {
    td {
      text-align: right;
    }
  }

  th{
    .text-right {
      font-size:18px;
      line-height:24px;
      color: #4B6478;
      margin-bottom: -14px;
      padding-bottom: 10px;
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: #0BA1E2;
    }
  }

  &.columns {
    margin-bottom: 0;
  }
}