.events {
  .link {
    font-size: 18px;
    color: #0ba1e2;
    letter-spacing: 0.4px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
  }

  .btn {
    color: #fff;
    padding: 13px 34px 11px 32px;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #0BA1E2;

    a {
      color: #fff;
      line-height:24px;
    }
  }
}