.footer {
  background-color: #4b6478;

  .headline {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  // .img-col {
  //   &>table {
  //     width: auto !important;
  //   }
  // }

  .description {
    font-size: 12px;
    line-height: 16px;

    &.desc-bottom {
      color: #a3aab1;
      display: block;
      margin-left: 12px;
      padding-bottom: 0;
      padding-right: 0;
    }


    p {
      font-size: 12px;
      line-height: 16px;
      padding-right: 15px;
    }
  }

  .text-wrap {
    .subline {
      margin-bottom: 3px;
      font-size: 16px;
      line-height: 24px;

      a {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .links-wrap {
    margin-bottom: 30px;
    text-align: center;

    .link-wrap {
      margin-bottom: 5px;

      &.link-extra {
        margin-right: 10px;
      }
    }

    .link {
      letter-spacing: 0.36px;
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}