.footer {
  background-color: #4b6478;

  .headline {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  a {}

  .description {
    font-size: 12px;
      line-height: 16px;
      padding-right: 15px;


    &.desc-bottom {
      color: #a3aab1;
      display: block;
      margin-left: 12px;
      padding-bottom: 0;
      padding-right: 0;
    }

    
    p {
      font-size: 12px;
      line-height: 16px;
      padding-right: 15px;
    }
  }

  .text-wrap {
    margin-bottom: 33px;

    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 24px;

      a {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .links-wrap {
    padding-top: 64px;
    padding-left: 55px;
    margin-bottom: 30px;

    .link {
      letter-spacing: 0.36px;
      margin-bottom: 0;

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      &.link-extra {
        padding-left: 5px;
      }
    }
  }

  .img-wrap {
    padding-left: 12px;
    margin-bottom: 45px;

    img {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
