.footer {
  background-color: #4b6478;

  a {
    color: #ffff !important;
    text-decoration: none;
  }
  a:visited {
    color: #00b4eb !important;
    text-decoration: none;
  }
  .ii a[href] {
    color: #00b4eb !important;
    text-decoration: none;
  }

  .headline {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }

  .description {
    display: block;
    color: #a3aab1;
    font-size: 12px;
    line-height: 16px;
    padding-right: 15px;

    a {
      color: #0ba1e2;
    }

    &.desc-bottom {
      color: #a3aab1;
      display: block;
      margin-left: 12px;
      padding-right: 0;
    }
  }

  .text-wrap {
    margin-bottom: 33px;

    p {
      margin-bottom: 0;
      color: #ffffff;
      font-size: 16px;
      line-height: 24px;

      a {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .links-wrap {
    padding-top: 64px;
    margin-bottom: 30px;

    .link {
      color: #0ba1e2;
      margin-left: 55px;
      letter-spacing: 0.36px;
      margin-bottom: 10px;

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }

      &.link-extra {
        margin-left: 60px;
      }
    }
  }

  .img-wrap {
    margin-left: 12px;
    margin-bottom: 45px;

    img {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
