.teaser-row {
  .tag {
    font-size: 14px;
    color: #A3AAB1;
    letter-spacing: 2px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
  }

  .headline {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
  }

  .text {
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .link {
    font-size: 18px;
    color: #0BA1E2;
    letter-spacing: 0.4px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
  }
}