.teaser-text {
  .row {
    .first {
      padding-right: 13px;
      padding-bottom: 0;
    }

    .last {
      padding-left: 13px;
      padding-bottom: 0;
    }
  }

  .headline {
    margin-bottom: 7px;
  }
}