.teaser-text-image {

  .headline {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .subline {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
  }
}