<container class="contact-page">
  <center>
    <row>
      <columns small="6">
        <spacer size="86"></spacer>

        <div style="padding-right: 28px;">
          <div style="text-align:center;">
            <img src="/assets/img/mail-pic.jpg" alt="">
          </div>
          <spacer size="39"></spacer>
      </columns>

      <columns small="6">
        <spacer size="86"></spacer>
        <div style="text-align:center;">
          <img src="/assets/img/login-pic.jpg" alt="">
          <spacer size="27"></spacer>
        </div>
      </columns>
    </row>
    <row>
      <columns small="6">
        <div style="text-align:center; color: #4b6478;">
          <a href="" style="text-align:center; color: #4b6478;"></a>
          <h2 class="headline" style="color: #4b6478;">Kontaktformular</h2>
          </a>
          <p class="subline" style="color: #000000;">Schreib uns</p>
        </div>
      </columns>
      <columns small="6">
        <div style="text-align:center; color: #4b6478;">
          <a href="" style="text-align:center; color: #4b6478;"></a>
          <h2 class="headline" style="color: #4b6478;">Onlinefiliale</h2>
          </a>
          <p class="subline" style="color: #000000;">Dein persönlicher Login</p>
        </div>
      </columns>
    </row>
  </center>
</container>