<container class="contact-page">
  <center>
    <row>
      <columns small="6" style="padding-bottom: 0; padding-left: 0; padding-right: 0;">
        <spacer size="86"></spacer>
        <table>
          <tr>
            <td style="text-align:center; padding-right: 17px;">
              <img src="https://placehold.it/55x36" alt="">
            </td>
          </tr>
        </table>
        <spacer size="27"></spacer>
      </columns>
      <columns small="6" style="padding-left: 0; padding-bottom: 0; padding-left: 0; padding-right: 0;">
        <spacer size="86"></spacer>
        <table>
          <tr>
            <td style="text-align:center; padding-left: 17px;">
              <img src="https://placehold.it/44x52" alt="">
              <spacer size="27"></spacer>
            </td>
          </tr>
        </table>
      </columns>
    </row>
    <row>
      <columns small="6" style="padding-bottom: 0; padding-left: 0; padding-right: 0;">
        <table>
          <tr>
            <td style="text-align:center; color: #4b6478; padding-right: 17px;">
              <a href="" style="text-align:center; color: #4b6478; display: block;">
                <h2 class="headline" style="color: #4b6478;">Kontaktformular</h2>
              </a>
              <p class="subline" style="color: #000000;">Schreib uns</p>
            </td>
          </tr>
        </table>
      </columns>
      <columns small="6" style="padding-left: 0; padding-bottom: 0;  padding-right: 0;">
        <table>
          <tr>
            <td style="text-align:center; color: #4b6478; padding-left: 17px;">
              <a href="" style="text-align:center; color: #4b6478; display: block;">
                <h2 class="headline" style="color: #4b6478;">Onlinefiliale</h2>
              </a>
              <p class="subline" style="color: #000000;">Dein persönlicher Login</p>
            </td>
          </tr>
        </table>
        <spacer size="97"></spacer>
      </columns>
    </row>
  </center>
</container>