<container class="contact-page">
  <center>
    <row>
      <columns small="6">
        <spacer size="86"></spacer>

        <div>
          <div style="text-align:center;">
            <img src="https://placehold.it/55x36" alt="">
          </div>
          <spacer size="27"></spacer>
      </columns>

      <columns small="6" style="padding-left: 34px;">
        <spacer size="86"></spacer>
        <div style="text-align:center;">
          <img src="https://placehold.it/44x52" alt="">
          <spacer size="27"></spacer>
        </div>
      </columns>
    </row>
    <row>
      <columns small="6">
        <div style="text-align:center; color: #4b6478;">
          <a href="" style="text-align:center; color: #4b6478; display: block;">
          <h2 class="headline" style="color: #4b6478;">Kontaktformular</h2>
          </a>
          <p class="subline" style="color: #000000;">Schreib uns</p>
        </div>
      </columns>
      <columns small="6" style="padding-left: 34px;">
        <div style="text-align:center; color: #4b6478;">
          <a href="" style="text-align:center; color: #4b6478; display: block;">
          <h2 class="headline" style="color: #4b6478;">Onlinefiliale</h2>
          </a>
          <p class="subline" style="color: #000000;">Dein persönlicher Login</p>
        </div>
        <spacer size="97"></spacer>
      </columns>
    </row>
  </center>
</container>