<container class="events" style="background-color: #f6f8f9;">
  <table class="row" align="center">
    <tr>
      <td>
        <div style="color: #000000; font-size: 20px; line-height: 24px; font-weight: 600;">Gesunde Mitarbeiter –
          starker Betrieb</div>
      </td>
    </tr>
    <tr height="9">
      <td></td>
    </tr>
    <tr>
      <td>
        <div style="color: #000000; font-size: 16px; line-height: 24px;">19.02.2019 | 18.30 – 20.30
          Uhr</div>
      </td>
    </tr>
    <tr height="9">
      <td></td>
    </tr>
    <tr>
      <td>
        <div style="color: #000000; font-size: 16px; line-height: 24px;">In seinem Impulsvortrag „Kraft tanken durch
          Bewegung im beruflichen Alltag“ gibt Dr. Jimmy Little Einblick in das betriebliche Gesundheitsmanagement.
        </div>
      </td>
    </tr>
    <tr height="10">
      <td></td>
    </tr>
    <tr>
      <td>
        <span class="link" style="color: #0ba1e2;"><a
            style="font-weight: 600; font-size: 18px; line-height: 24px; letter-spacing: 0.4px;" href="">Jetzt
            anmelden</a></span>
        <img src="https://placehold.it/15x13" alt="" style="display: inline-block; margin-left: 10px;">
      </td>
    </tr>
    <tr height="39">
      <td></td>
    </tr>
    <tr>
      <td>
        <div style="color: #000000; font-size: 20px; line-height: 24px; font-weight: 600;">Onlineseminar: Fit für die
          Prüfung</div>
      </td>
    </tr>
    <tr height="9">
      <td></td>
    </tr>
    <tr>
      <td>
        <div style="color: #000000; font-size: 16px; line-height: 24px;">26.03.2019 | 16 Uhr</div>
      </td>
    </tr>
    <tr height="9">
      <td></td>
    </tr>
    <tr>
      <td>
        <div style="color: #000000; font-size: 16px; line-height: 24px;">Lernen Sie in unserem Onlineseminar, wie Sie
          Prüfungsangst meistern und in positive Energie umwandeln.
        </div>
      </td>
    </tr>
    <tr height="10">
      <td></td>
    </tr>
    <tr>
      <td>
        <span class="link" style="color: #0ba1e2;"><a
            style="font-weight: 600; font-size: 18px; line-height: 24px; letter-spacing: 0.4px;" href="">Jetzt
            anmelden</a></span>
        <img src="https://placehold.it/15x13" alt="" style="display: inline-block; margin-left: 10px;">
      </td>
    </tr>
    <tr height="55">
      <td></td>
    </tr>
  </table>
  <table align="center">
    <tr>
      <td class="btn">
        <a href="#">
          <span style="font-size:16px;line-height:24px;font-weight:600;letter-spacing: 0.36px;color:#fff">Mehr
            Angebote</span>
          <img src="https://placehold.it/15x13" alt="IMG"
            style="display: inline-block; max-width:auto !important;margin-left:8px;margin-bottom:-2px;" width="15"
            height="13">
        </a>
      </td>
    </tr>
    <tr height="48">
      <td></td>
    </tr>
  </table>
</container>