<container class="footer" style="background-color: #4b6478;">
    <div align="center" width="720">
      <img src="./assets/img/mask.png" width="720" height="15">
    </div>
    <center>
      <row>
        <columns small="6" style="padding-bottom: 0; padding-left: 0; padding-right: 0;">
          <table>
            <tr>
              <td class="text-wrap" style="color: #ffffff; padding-right: 32px,">
                <spacer size="49"></spacer>
                <h3 class="headline">Weitere Themen</h3>
                <div class="subline"><a href="" style="color: #ffffff !important;">Azubibörse</a></div>
                <div class="subline"><a href="" style="color: #ffffff !important;">Bonus Berufsstarter</a></div>
                <div class="subline"><a href="" style="color: #ffffff !important;">Karriere</a></div>
                <div class="subline"><a href="" style="color: #ffffff !important;">Über die IKK Classic</a></div>
              </td>
            </tr>
          </table>
        </columns>
  
        <columns small="6" style="padding-left: 0; padding-left: 0; padding-right: 0;">
          <table>
            <tr>
              <td style="padding-left: 32px;">
                <div class="links-wrap">
                  <spacer size="64"></spacer>
                  <div class="link-wrap link-extra">
                    <span class="link" style="color: #0ba1e2;"><a href="">Servicecenter finden</a></span>
                    <img src="https://placehold.it/15x13" alt="" style="display: inline-block; margin-left: 10px;">
                  </div>
                  <div class="link-wrap">
                    <span class="link" style="color: #0ba1e2;"><a href="">Einstellungen ändern</a></span>
                    <img src="https://placehold.it/15x13" alt="" style="display: inline-block; margin-left: 8px;">
                  </div>
                </div>
                <div class="img-wrap">
                  <h3 class="headline">Unsere Apps</h3>
                  <row>
                    <tr>
                      <td style="width: 100px; padding-right: 10px;">
                        <a href=""><img src="https://placehold.it/96x32" alt=""></a>
                      </td>
                      <td >
                        <a href=""><img src="https://placehold.it/96x32" alt=""></a>
                      </td>
                    </tr>
                  </row>
                </div>
              </td>
            </tr>
          </table>
        </columns>
      </row>
      <spacer size="35"></spacer>
      <row>
        <columns small="8" style="padding-bottom: 0; padding-left: 0; padding-right: 0;">
          <div class="desc-wrap" style="color: #a3aab1;">
            <div style="color: #a3aab1 !important; width: 400px; max-width: 400px;">
              <p class="description" style="color: #a3aab1 !important; width: 400px; margin-bottom: 0;">
                Bildnachweise gemäß Reihenfolge der Bilder
                Quellen: IKK classic | C3 Creative Code and Content | kr3m/Shutterstock
                Fotograf: Christian Brecheiss</p>
            </div>
            <spacer size="20"></spacer>
            <div style="color: #a3aab1 !important; width: 280px;">
              <p class="description" style="color: #a3aab1 !important; width: 280px; margin-bottom: 0;">Sie möchten unseren Newsletter nicht
                mehr erhalten?
                Hier geht’s zur <span style="color: #0ba1e2"><a href="" style="color: #0ba1e2">Abmeldung.</a></span>
              </p>
            </div>
          </div>
          <spacer size="51"></spacer>
        </columns>
        <columns small="4">
        </columns>
      </row>
    </center>
  </container>