<container class="footer" style="background-color: #4b6478;">
  <center>
    <row>

      <columns small="6">
        <div class="text-wrap">
          <spacer size="64"></spacer>
          <h3 class="headline">Weitere Themen</h3>
          <p style="color: #ffffff;"><a href="" style="color: #ffffff !important;">Bonusprogramm</a></p>
          <p style="color: #ffffff;"><a href="" style="color: #ffffff !important;">Vorteilsrechner</a></p>
          <p style="color: #ffffff;"><a href="" style="color: #ffffff !important;">Wahltarife</a></p>
          <p style="color: #ffffff;"><a href="" style="color: #ffffff !important;">Karriere</a></p>
          <p style="color: #ffffff;"><a href="" style="color: #ffffff !important;">Über die IKK Classic</a></p>
        </div>
        <span class="description">Bildnachweise gemäß Reihenfolge der Bilder
          Quellen: IKK classic | C3 Creative Code and Content | kr3m/Shutterstock
          Fotograf: Christian Brecheis</span>
        <spacer size="43"></spacer>
      </columns>
      <columns small="6">
        <div class="links-wrap">
          <span class="link" style="color: #0ba1e2;"><a href="">Servicecenter finden</a></span>
          <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
          <spacer size="5"></spacer>
          <span class="link link-extra" style="color: #0ba1e2;"><a href="">Einstellungen ändern</a></span>
          <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
        </div>
        <div class="img-wrap">
          <spacer size="30"></spacer>
          <h3 class="headline">Unsere Apps</h3>
          <a href=""><img src="https://placehold.it/96x32" alt=""></a>
          <spacer size="12" type="vertical"></spacer>
          <a href=""><img src="https://placehold.it/96x32" alt=""></a>
        </div>
        <span class="description desc-bottom">Sie möchten unseren Newsletter nicht mehr erhalten? Hier geht’s zur <a
            href="">Abmeldung.</a></span>
      </columns>

    </row>
  </center>
</container>