<container class="footer" style="background-color: #4b6478;">
  <center>
    <row>
      <columns small="6">
        <div class="text-wrap" style="color: #ffffff;">
          <spacer size="64"></spacer>
          <h3 class="headline">Weitere Themen</h3>
          <div><a href="" style="color: #ffffff !important;">Bonusprogramm</a></div>
          <div><a href="" style="color: #ffffff !important;">Vorteilsrechner</a></div>
          <div><a href="" style="color: #ffffff !important;">Wahltarife</a></div>
          <div><a href="" style="color: #ffffff !important;">Karriere</a></div>
          <div><a href="" style="color: #ffffff !important;">Über die IKK Classic</a></div>
          <spacer size="33"></spacer>
          <div class="description" style="color: #a3aab1 !important;"><span style="color: #a3aab1 !important;">
              Bildnachweise gemäß Reihenfolge der Bilder
              Quellen: IKK classic | C3 Creative Code and Content | kr3m/Shutterstock
              Fotograf: Christian Brecheis</span></div>
        </div>
        <spacer size="43"></spacer>
      </columns>
      <columns small="6">
        <div class="links-wrap">
          <span class="link" style="color: #0ba1e2;"><a href="">Servicecenter finden</a></span>
          <span>
            <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
          </span>
          <span class="link link-extra" style="color: #0ba1e2;"><a href="">Einstellungen ändern</a></span>
          <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
        </div>
        <div class="img-wrap">
          <h3 class="headline">Unsere Apps</h3>
          <a href=""><img src="https://placehold.it/96x32" alt=""></a>
          <a href=""><img src="https://placehold.it/96x32" alt=""></a>
        </div>
        <div class="description desc-bottom">Sie möchten unseren Newsletter nicht mehr erhalten? Hier geht’s zur <a
            href="">Abmeldung.</a></div>
      </columns>
    </row>
  </center>
</container>