<wrapper class="header" bgcolor="#fff">
  <container>
      <spacer size="13"></spacer>
      <span class="navigate">Newsletter im Browser öffnen</span>
    <spacer size="19"></spacer>
    <row class="collapse" align="center">
      <columns small="6" valign="middle">
        <img src="https://placehold.it/154x49">
      </columns>
      <columns small="6" valign="middle" align="right" class="t-r">
        <span class="text-right">Gelassen ans Ziel</span>
      </columns>
    </row>
    <spacer size="32"></spacer>
  </container>
</wrapper>