<container class="social" style="background-color: #354654;">
  <center>
    <row>
      <table align="center" style="width: 240px; margin: 0 auto;">
        <tr>
          <td height="32"></td>
        </tr>
        <tr>
          <td style="width:40px; height:42px;"><a style="list-style: none; display: block;" href=""> <img
                src="https://placehold.it/40x42" alt="" width="40" height="42"></a>
          </td>
          <td style="width:40px; height:42px;"><a style="list-style: none; display: block;" href="">
              <img src="https://placehold.it/40x42" alt="" width="40" height="42"></a>
          </td>
          <td style="width:40px; height:42px;"><a style="list-style: none; display: block;" href="">
              <img src="https://placehold.it/40x42" alt="" width="40" height="42"></a>
          </td>
          <td style="width:40px; height:42px;"><a style="list-style: none; display: block;" href=""><img
                src="https://placehold.it/40x42" alt="" width="40" height="42"></a>
          </td>
        </tr>
        <tr>
          <td height="27"></td>
        </tr>
      </table>
      <table align="center" style="width: 545px; margin: 0 auto;">
        <tr>
          <td>
            <div style="line-height: 16px; font-size: 12px; color: #ffffff; text-align: center;">Impressum | Datenschutzerklärung und
              Informationsfreiheit</div>
          </td>
        </tr>
        <tr>
          <td height="23"></td>
        </tr>
      </table>
    </row>
  </center>
</container>