<container>
  <div>
    <img src="https://placehold.it/720x123" alt="">
  </div>
</container>
<container class="teaser-video" style="background-color: #f6f8f9;">
  <center>
    <row>
      <columns small="12" style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
        <spacer size="9"></spacer>
        <img src="https://placehold.it/552x124" alt="">
        <spacer size="24"></spacer>
        <img src="https://placehold.it/552x316" alt="">
        <spacer size="44"></spacer>
      </columns>
    </row>
  </center>
</container>