<wrapper class="teaser-text" bgcolor="#fff">
  <container>
      <row class="collapse" align="center">
          <columns small="6" valign="top" align="left">
            <spacer size="38"></spacer>
           <h3 class="headline">TEST TEST</h3>
           <div>
              Die elektronische Gesundheitsakte ermöglicht den verschlüsselten Austausch von Informationen. Doch sie kann noch viel mehr.
          </div>
            <spacer size="54"></spacer>
          </columns>
          <columns small="6" valign="bottom" align="left">
            <spacer size="38"></spacer>
            <h3 class="headline">TEST TEST</h3>
            <div>
                Die elektronische Gesundheitsakte ermöglicht den verschlüsselten Austausch von Informationen. Doch sie kann noch viel mehr.
            </div>
            <spacer size="54"></spacer>
          </columns>
        </row>
  </container>
</wrapper>