<container class="teaser-text-image">
  <center>
    <row>
      <columns small="12" style="padding-bottom: 0;">
        <spacer size="48"></spacer>
        <div align="center" width="720">
          <img src="https://placehold.it/544x66" alt="headine-image">
        </div>
        <spacer size="41"></spacer>
        <div align="center" width="720">
          <img src="https://placehold.it/552x288" alt="">
        </div>
      </columns>
    </row>

    <row>
      <columns small="12" class="background" style="padding-bottom: 0; width: auto">
        <table>
          <spacer size="22"></spacer>
          <tr>
            <td class="headline" style="padding-left: 32px;">
              BMI-Rechner
              <spacer size="7"></spacer>
            </td>
          </tr>
          <tr>
            <td class="subline" style="padding-left: 32px;">
              Liegt dein Body-Mass-Index im Normalbereich?<br>Finde es heraus!
              <spacer size="14"></spacer>
            </td>
          </tr>
          <tr>
            <td style="padding-left: 60px;">
              <span style="color: #0ba1e2;"><a style="font-size: 18px; line-height: 24px; letter-spacing: 0.4px; font-weight: 600;" href="">Zu den Kursen</a></span>
              <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
              <spacer size="24"></spacer>
            </td>
          </tr>
        </table>

      </columns>
    </row>
  </center>
</container>