<wrapper class="teaser-text" bgcolor="#fff">
  <container>
      <row class="collapse" align="center">
          <columns small="6" valign="top" align="left">
            <spacer size="38"></spacer>
           <h3 class="headline">TEST TEST</h3>
           <div>
              Die elektronische Gesundheitsakte ermöglicht den verschlüsselten Austausch von Informationen. Doch sie kann noch viel mehr.
          </div>
            <spacer size="15"></spacer>
            <div class="links-wrap">
              <span class="link" style="color: #0ba1e2;"><a href="">Servicecenter finden</a></span>
              <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
            </div>
            <spacer size="54"></spacer>
          </columns>
          <columns small="6" valign="bottom" align="left">
            <spacer size="38"></spacer>
            <h3 class="headline">TEST TEST</h3>
            <div>
                Die elektronische Gesundheitsakte ermöglicht den verschlüsselten Austausch von Informationen. Doch sie kann noch viel mehr.
            </div>
            <spacer size="15"></spacer>
            <div class="links-wrap">
              <span class="link" style="color: #0ba1e2;"><a href="">Servicecenter finden</a></span>
              <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
            </div>
        </div>
            <spacer size="54"></spacer>
          </columns>
        </row>
        <div style="text-align:center;">
            <div class="links-wrap btn">
              <spacer size="13"></spacer>
                <span class="link" style="color: #fff;"><a href="" style="color: #fff;text-align:center">Servicecenter finden</spacer></a>
                </span>
                <img src="https://placehold.it/15x13" alt="" style="display: inline-block;">
              <spacer size="13"></spacer>
            </div>
          </div>
  </container>
</wrapper>