<wrapper class="teaser-row" bgcolor="#fff">
  <container>
    <table class="row" align="center" style="margin: 0 auto;">
      <tr height="11">
        <td></td>
      </tr>
      <tr>
        <td style="width: 216px;">
          <img src="https://placehold.it/192x264" alt="" style="display: inline-block;" width="192" height="264">
        </td>
        <td>
          <table>
          <tr height="32">
              <td></td>
            </tr>
            <tr>
              <td>
                <p class="tag">
                  Digitales Leben
                </p>
              </td>
            </tr>
            <tr height="14">
              <td></td>
            </tr>
            <tr>
              <td>
                <p class="headline">
                  Kurz erklärt: Blockchain
                </p>
              </td>
            </tr>
            <tr height="14">
              <td></td>
            </tr>
            <tr>
              <td>
                <p class="text">
                  Dank Blockchain können wir mit Kryptowährungen handeln. Aber die Technologie hat das Potenzial, jede
                  Branche zu verändern.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr height="11">
        <td></td>
      </tr>
    </table>
  </container>
</wrapper>