<container class="text-media">
    <center>
      <spacer size="61"></spacer>
      <h1 class="headline">Mehr aus Gesund.Machen.</h1>
      <spacer size="43"></spacer>
      <row>
            <columns small="6">
                <img src="https://placehold.it/264x264">
                <div class="box-wrapper">
                    <spacer size="12" type="vertical"></spacer>
                    <span class="red-box">
                        familie
                    </span>
                    <spacer size="33" type="vertical"></spacer>
                    <div class="content">

                        <h3 class="box-wrapper-title">100 Fakten für werdende Eltern</h3>
                        <spacer size="7" type="vertical"></spacer>
                        <p class="text-plain">
                            Die ultimative Liste rund um Ihre Schwangerschaft – mit vielen Punkten zum Schmunzeln.
                        </p>
                        <spacer size="10" type="vertical"></spacer>
                        <div class="link"><a href="">Weiterlesen
                                <img class="arrow-right" src="/assets/img/text-media-img3.jpg" alt="">
                        <a></div>
                    </div>
                </div>
                </div>
            </columns>
            <columns small="6">
                <img src="https://placehold.it/264x264">
            </columns>
        </row>
    </center>
</container>