<container class="text-media">
    <center>
  <img src="https://placehold.it/720x136" alt="">
      <row>
            <columns small="6">
                <img class="article-img" src="https://placehold.it/264x264" alt="">
                <div class="box-wrapper">
                    <!-- <spacer size="12" type="vertical"></spacer> -->
                    <table style="width: auto;" >
                        <tr>
                            <td  class="red-box">
                                <div>familie</div>
                            </td>
                        </tr>
                        <tr height="33">
                            <td></td>
                        </tr>
                    </table>
                    <!-- <spacer size="33" type="vertical"></spacer> -->
                    <div class="content">

                        <h3 class="box-wrapper-title">100 Fakten für werdende Eltern</h3>
                        <spacer size="7" type="vertical"></spacer>
                        <p class="text-plain">
                            Die ultimative Liste rund um Ihre Schwangerschaft – mit vielen Punkten zum Schmunzeln.
                        </p>
                        <spacer size="10" type="vertical"></spacer>
                        <div class="link"><a href="">Weiterlesen
                                <img class="arrow-right" src="https://placehold.it/15x13" alt="">
                        <a></div>
                    </div>
                </div>
                </div>
            </columns>
            <columns small="6">
                <img  src="https://placehold.it/264x264" alt="">
            </columns>
        </row>
    </center>
</container> 