<container class="text">
    <center>
      <row>
        <columns small="12">
          <spacer size="10"></spacer>
          <div style="color: #000000;">
            <h2 class="headline" style="margin-bottom: 6px;">Lieber Tim,</h2>
            <p class="subline" style="margin-bottom: 0;">man kann es nicht oft genug sagen: Die Digitalisierung verändert alles. Das gilt auch für den Bereich
              Gesundheit. Mit Tools wie der elektronischen Gesundheitsakte Vivy kannst du dich ab sofort an Impftermine
              digital erinnern lassen, Fitness-Tracker helfen dir dabei, deine Kalorienaufnahme zu optimieren und
              Technologien wie Blockchain machen das Verwalten von medizinischen Registern erheblich sicherer. Neugierig
              geworden? Dann schau auf unser neues Online-Magazin „Gesund.Machen.“ vorbei. Dort findest du noch viel mehr
              spannende Themen rund ums digitale Leben - und kannst ganz nebenbei unsere neue Website entdecken!</p>
          </div>
        </columns>
      </row>
    </center>
  </container>