<container class="text-media">
  <center>
    <table>
      <tr>
        <td align="center" width="720">
          <img src="https://placehold.it/720x136">
        </td>
      </tr>
    </table>
    <row>
      <columns small="6">
        <img class="article-img" src="https://placehold.it/264x264" alt="">
        <div class="box-wrapper">
          <table style="width: auto;">
            <tr>
              <td class="red-box">
                <div>
                  arbeiten
                </div>
              </td>
            </tr>
            <tr height="25">
              <td></td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="box-wrapper-title content">
                <h3>Zukunft ohne Schulabschluss</h3>

              </td>
            </tr>
            <tr>
              <td class="content text-plain ">
                Einer von 20 Jugendlichen in Deutschland verlässt die Schule ohne Abschluss – und ist damit für den
                Arbeitsmarkt so gut wie verloren. Oder?
              </td>
            </tr>
            <tr>
              <td class="content down"><a class="link" href="">Weiterlesen
                  <img class="arrow-right" src="https://placehold.it/15x13" alt="">
                </a></td>
            </tr>
          </table>
        </div>
      </columns>
      <columns small="6">
        <img class="article-img" src="https://placehold.it/264x264" alt="">
        <div class="box-wrapper">
          <table style="width: auto;">
            <tr>
              <td class="red-box">
                <div>
                  arbeiten
                </div>
              </td>
            </tr>
            <tr height="25">
              <td></td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="box-wrapper-title content">
                <h3>Zukunft ohne Schulabschluss</h3>

              </td>
            </tr>
            <tr>
              <td class="content text-plain ">
                Einer von 20 Jugendlichen in Deutschland verlässt die Schule ohne Abschluss – und ist damit für den
                Arbeitsmarkt so gut wie verloren. Oder?
              </td>
            </tr>
            <tr>
              <td class="content down"><a class="link" href="">Weiterlesen
                  <img class="arrow-right" src="https://placehold.it/15x13" alt="">
                </a></td>
            </tr>
          </table>
        </div>
      </columns>
    </row>
    <table>
      <tr height="53">
        <td></td>
      </tr>
    </table>
  </center>
</container>